*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: 
  "result content__details";
  align-items: end;
  width: 1140px;
  height: 534px;
  gap: 30px;

}

.result {
  grid-area: result;
  height: inherit;
  display: flex;
  gap: 26px;
  flex-direction: column;
  justify-content: flex-end;
}

.result__video-container {
  position: relative;
  inset: 0;
  height: 386px;
  width: 100%;
}

.result__video {
  object-fit: cover;
  height: inherit;
  width: inherit;
}

.content__details {
  grid-area: content__details;
  width: 100%;
  height: inherit;
  display: flex;
  gap: 26px;
  flex-direction: column;
}

.content__list {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  padding-bottom: 20px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  gap: 5px;
  font-weight: 400;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__textfield {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
  background-color: transparent;
  width: 224px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__pseudo-checkbox {
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox::after {
  content: "";
  background-color: #fff;
  display: block;
  width: 15px;
  height: 15px;
}

.search-form__pseudo-checkbox:has(:focus-visible) {
  outline: 1px solid #fff;
}

.content__list-container {
  height: 534px;
  overflow: auto;
  position: relative;
}


.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list-item {
  padding: 3px;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  background-color: transparent;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.button:focus {
  outline: none;
}

.more-button {
  margin-top: 30px;
  width: 100%;
  height: 34px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-top: 20px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  padding-bottom: 5px;
}

.title {
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin: -8px 0;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 196px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}